<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- <bean id="customerBean" class="training.oracle.business.impl.Customer"
		scope="singleton">
		<property name="id" value="1001"/>
		<property name="name" value="Rahul"/>
		<property name="address" value="Bangalore"/>
		<property name="phone" value="8617463248"/>		
	</bean> -->
	<!-- Customer Injection -->
	<bean id="customerBean" class="training.oracle.business.impl.Customer"
		scope="singleton">
		<constructor-arg value="1002" index="0"/>
		<constructor-arg value="Smith" index="1"/>
		<constructor-arg value="Delhi" index="2"/>
		<constructor-arg value="8617463248" index="3"/>
	</bean>
	
	<!-- Setter injection -->
	<!-- <bean id="currencyConverterBean" class="training.oracle.business.impl.CurrencyConverterImpl"
			scope="singleton">-->
			<!-- It's going to call setter methods -->
			<!-- <property name="customerRef" ref="customerBean"/>	
	</bean> -->
	<bean id="currencyConverterBean" class="training.oracle.business.impl.CurrencyConverterImpl"
			scope="singleton">
			<constructor-arg ref="customerBean"/>
	</bean>
	
</beans>
